@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5 !important;
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .link {
    line-height: 60px;
    font-weight: 600;
    display: block;
    border-bottom: 2px solid transparent;
    text-align: center;
  }

  .active {
    line-height: 60px;
    font-weight: 600;
    display: block;
    border-bottom: 2px solid #1976d2;
    color: #1976d2;
    text-align: center;
  }
}
